ProxyOrder (
    name: "Tome of Healing",
    proxy_action: ProxyAction (
        functionality: DeleteTile,
        eligibility_method: UnoccupiedTiles,
        selection_count_bounds: GameDesignBounds(Bounds(min_tiles: 1, max_tiles: 5)),
        ),
    description: "This order does nothing... for now..",
    icon_path: "orders/icons/heart_plus.png"
)
