ProxyOrder (
    name: "Dash",
    proxy_action: ProxyAction (
        functionality: MoveSelf,
        eligibility_method: Fan (width: One, depth: 2, occupied_or_not: Vacant),
        selection_count_bounds: GameDesignBounds(Bounds(min_tiles: 1, max_tiles: 1)),
        ),
    description: "Dash up to two tiles forward.",
    icon_path: "orders/icons/Dash.png"
)
