ProxyOrder (
    name: "Sidestep",
    proxy_action: ProxyAction (
        functionality: MoveSelf,
        eligibility_method: Fan (width: All, depth: 1, occupied_or_not: Vacant),
        selection_count_bounds: GameDesignBounds(Bounds(min_tiles: 1, max_tiles: 1)),
        ),
    description: "Move this piece to any adjacent, vacant tile.",
    icon_path: "orders/icons/directional_arrows.png"
)
