ProxyPiece (
    name: "Emergency Bunker",
    model_path: "pieces/piece_models/Bunker.glb",
    health: 55,
    default_coin_value: 4,
    is_win_condition: true,
    is_spawn_point: false,
    should_give_player_extra_command: false,
    order1_path: None,
    order2_path: None,
    order3_path: None,
    order4_path: None,
    order5_path: None,
)
