ProxyPiece (
    name: "Cannon-car",
    model_path: "pieces/piece_models/CarWithCannon.glb",
    health: 35,
    default_coin_value: 3,
    is_win_condition: false,
    is_spawn_point: false,
    should_give_player_extra_command: false,
    order1_path: Some("orders/move1.order.ron"),
    order2_path: Some("orders/rotate_self.order.ron"),
    order3_path: Some("orders/damage2.order.ron"),
    order4_path: None,
    order5_path: None,
)
