ProxyPiece (
    name: "imposing obelisk",
    model_path: "pieces/piece_models/Obelisk.glb",
    health: 175,
    default_coin_value: 15,
    is_win_condition: true,
    is_spawn_point: true,
    should_give_player_extra_command: true,
    order1_path: None,
    order2_path: None,
    order3_path: None,
    order4_path: None,
    order5_path: None,
)
