ProxyPiece (
    name: "Rolling Saucer",
    model_path: "pieces/piece_models/Magnetic Hockey Rover.glb",
    health: 12,
    is_win_condition: false,
    order1_path: None,
    order2_path: None,
    order3_path: None,
    order4_path: None,
    order5_path: None,
)
