ProxyPiece (
    name: "Rolling Saucer",
    model_path: "pieces/piece_models/Magnetic Hockey Rover.glb",
    health: 75,
    default_coin_value: 4,
    is_win_condition: false,
    should_give_player_extra_command: false,
    order1_path: Some("orders/move_self.order.ron"),
    order2_path: Some("orders/damage1.order.ron"),
    order3_path: None,
    order4_path: None,
    order5_path: None,
)
