ProxyPiece (
    name: "Command Point Alpha",
    model_path: "pieces/piece_models/Cosmic Cargo Space Station.glb",
    health: 20,
    default_coin_value: 6,
    is_win_condition: false,
    is_spawn_point: true,
    should_give_player_extra_command: true,
    order1_path: None,
    order2_path: None,
    order3_path: None,
    order4_path: None,
    order5_path: None,
)
