ProxyPiece (
    name: "Gandaldore",
    model_path: "pieces/piece_models/Wizard Hat.glb",
    health: 4,
    default_coin_value: 1,
    is_win_condition: false,
    is_spawn_point: false,
    should_give_player_extra_command: false,
    order1_path: Some("orders/swap_self.order.ron"),
    order2_path: None,
    order3_path: None,
    order4_path: None,
    order5_path: None,
)
