CardAsset (
    name: "Zap!",
    price: 12,
    action: ActionInfo (
        functionality: DeleteTile,
        eligibility_method: PieceChain,
        selection_count_bounds: GameDesignBounds(Bounds(min_tiles: 3, max_tiles: 15)),
        ),
    image_path: "cards/card_images/GoldProjectiles.png",
    rarity: Legendary,
    description: "Direct chain lightning between a minimum of three pieces, instantly destroying them and their tiles."
)
