CardAsset (
    name: "Off the Market",
    price: 1,
    action: ActionInfo (
        functionality: DeleteTile,
        eligibility_method: UnoccupiedTiles,
        selection_count_bounds: GameDesignBounds(Bounds(min_tiles: 1, max_tiles: 5)),
        ),
    image_path: "cards/card_images/RedDowngrade.png",
    rarity: Common,
)
