ProxyCard (
    name: "Windfall",
    price: 1,
    action: ProxyAction (
        functionality: AlterActivePlayerCoinCount(6),
        eligibility_method: None,
        selection_count_bounds: GameDesignBounds(Bounds(min_tiles: 0, max_tiles: 0)),
        ),
    image_path: "cards/card_images/BlueCash.png",
    rarity: Legendary,
    description: "Instantly recieve $20. Looks like your ship just came in."
)
