CardAsset (
    name: "Obliteration",
    price: 3,
    action: ActionInfo (
        functionality: DeleteTile,
        eligibility_method: AllTiles,
        selection_count_bounds: GameDesignBounds(Bounds(min_tiles: 1, max_tiles: 10)),
        ),
    image_path: "cards/card_images/GreenBoost.png",
    rarity: Rare
)
