ProxyCard (
    name: "Rolling Rover Genesis",
    price: 6,
    action: ProxyAction (
        functionality: SpawnPiece(
            path_to_proxy_piece: "pieces/piece_parameters/rover.piece.ron",
        ),
        eligibility_method: UnoccupiedTiles,
        selection_count_bounds: GameDesignBounds(Bounds(min_tiles: 1, max_tiles: 1)),
        ),
    image_path: "cards/card_images/RoverSpawn.png",
    rarity: Rare,
    description: "Spawn a rover onto a tile, which deals extremely high damage but has limited mobility."
)
