ProxyCard (
    name: "Spaceship Genesis",
    price: 5,
    action: ProxyAction (
        functionality: SpawnPiece(
            path_to_proxy_piece: "pieces/piece_parameters/space_ship.piece.ron",
        ),
        eligibility_method: GeneralSpawning ( depth: 1 ),
        selection_count_bounds: GameDesignBounds(Bounds(min_tiles: 1, max_tiles: 1)),
        ),
    image_path: "cards/card_images/SpaceshipSpawn.png",
    rarity: Rare,
    description: "Spawns the Centenial Hawk onto a tile-- a delicate but nimble attacker."
)
