CardAsset (
    name: "Tower Genesis",
    price: 2,
    action: ActionInfo (
        functionality: SpawnTower,
        eligibility_method: UnoccupiedTiles,
        selection_count_bounds: GameDesignBounds(Bounds(min_tiles: 0, max_tiles: 99)),
        ),
    image_path: "cards/card_images/GoldSpawn.png",
    rarity: Common,
    description: "Spawn a tower on any empty tile. And so it begins... I will continue to write an absurdly long description to see how the game copes with rendering. Is this too much? How about now?"
)
